@model CreateRoadViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-area="Roads" asp-controller="Home" asp-action="CreateRoad">
    <div class="form-group">
        <label asp-for="TripName">RoadName</label>
        <input asp-for="TripName" class="form-control"/>
    </div>
</form>