
@{
    ViewData["Title"] = "Roads Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="jumbotron text-center">
    <div class="container-fluid text-center">
        <h2 class="font-weight-light">Най-дългите трасета</h2>
        <hr class="hr-1" />
    </div>
    <partial name="_LongestRoadsPartial" />
    <br />
    <a asp-area="Roads" asp-controller="Categories" asp-action="LongestRoads" class="btn btn-dark" style="color: red"><h5>Oще трасета</h5></a>
</div>
<br />

<div class="jumbotron text-center">
    <div class="container-fluid text-center">
        <h2 class="font-weight-light">Трасета с висок рейтинг</h2>
        <hr class="hr-1" />
    </div>
    <partial name="_TopRoadsPartial" />
    <br />
    <a asp-area="Roads" asp-controller="Categories" asp-action="TopRoads" class="btn btn-dark" style="color: red"><h5>Oще трасета</h5></a>
</div>
<br />

<div class="jumbotron text-center">
    <div class="container-fluid text-center">
        <h2 class="font-weight-light">Последни трасета</h2>
        <hr class="hr-1" />
    </div>
    <partial name="_LatestRoadsPartial" />
    <br />
    <a asp-area="Roads" asp-controller="Categories" asp-action="LatestRoads" class="btn btn-dark" style="color: red"><h5>Oще трасета</h5></a>
</div>
<br />
<div class="jumbotron text-center">
    <div class="container-fluid text-center">
        <h2 class="font-weight-light">Всички трасета</h2>
        <hr class="hr-1" />
    </div>
    <partial name="_AllRoadsPartial" />
    <br />
    <a asp-area="Roads" asp-controller="Categories" asp-action="All" class="btn btn-dark" style="color: red"><h5>Oще трасета</h5></a>
</div>
<br />

