@model CreateRoadViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Create Road</h1>
<hr class="hr-2 bg-secondary half-width" />
<form class="mx-auto half-width" asp-area="Roads" asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row d-flex justify-content-between my-3">
        <div class="form-colmn col-md-12 d-flex flex-column align-items-center">
            <label style="font-size: 200%" asp-for="TripName"></label>
            <input asp-for="TripName" class="form-control"/>
            <span asp-validation-for="TripName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row d-flex justify-content-between my-3">
        <div class="form-colmn col-md-4 d-flex flex-column align-items-center">
            <label asp-for="StartingPoint"></label>
            <input asp-for="StartingPoint" class="form-control"/>
            <span asp-validation-for="StartingPoint" class="text-danger"></span>
        </div>
        <div class="form-colmn col-md-4 d-flex flex-column align-items-center">
            <label asp-for="EndPoint"></label>
            <input asp-for="EndPoint" class="form-control"/>
            <span asp-validation-for="EndPoint" class="text-danger"></span>
        </div>
        <div class="form-colmn col-md-2 d-flex flex-column align-items-center">
            <label asp-for="TripLength"></label>
            <input asp-for="TripLength" class="form-control"/>
            <span asp-validation-for="TripLength" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row d-flex justify-content-between my-3">
        <div class="form-colmn col-md-12 d-flex flex-column align-items-center">
            <label asp-for="Description"></label>
            <textarea rows="10" asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row d-flex justify-content-between my-3">
        <div class="form-colmn col-md-12 d-flex flex-column align-items-center">
            <label asp-for="Video"></label>
            <input asp-for="Video" class="form-control"/>
            <span asp-validation-for="Video" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Photo" class="control-label"></label>
        <input asp-for="Photo" class="form-control" multiple/>
        <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
    <hr class="hr-2 bg-secondary"/>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn ride-bg-color">Create Road</button>
    </div>

</form>