
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron text-center">
    <div class="container-fluid text-center">
        <h2 class="font-weight-light">Top Roads</h2>
        <hr class="hr-1" />
    </div>
    <partial name="_LatestRoadsPartial" />
    <br/>
    <a asp-area="Roads" asp-controller="Categories" asp-action="TopRoads" style="color: red"><h4>more roads...</h4></a>
</div>
<br/>



<div class="container-fluid text-center">
    <h2 class="font-weight-light">Longest Roads</h2>
    <hr class="hr-1"/>
</div>
<partial name="_LatestRoadsPartial" />

<div class="container-fluid text-center">
    <h2 class="font-weight-light">Latest Roads</h2>
    <hr class="hr-1"/>
</div>
<partial name="_LatestRoadsPartial" />
