@model DetailsRoadViewModel
<!-- Add icon library -->
@*<span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>*@
<div class="jumbotron-fluid">
    <div class="row justify-content-center">
        <h5>Гледка: &nbsp; </h5>
        @for (int i = 1; i <= 5; i++)
        {
            if (@i <= @Model.ViewRating)
            {
                <span class="fa fa-star checked"></span>
            }
            else
            {
                <span class="fa fa-star"></span>
            }
        }
    </div>
    <div class="row justify-content-center">
        <h5>Настилка: &nbsp; </h5>
        @for (int i = 1; i <= 5; i++)
        {
            if (@i <= @Model.SurfaceRating)
            {
                <span class="fa fa-star checked"></span>
            }
            else
            {
                <span class="fa fa-star"></span>
            }
        }

    </div>
    <div class="row justify-content-center">
        <h5>Удоволствие: &nbsp; </h5>
        @for (int i = 1; i <= 5; i++)
        {
            if (@i <= @Model.PleasureRating)
            {
                <span class="fa fa-star checked"></span>
            }
            else
            {
                <span class="fa fa-star"></span>
            }
        }

    </div>
</div>