@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Вашият акаунт съдържа лична информация която сте ни предоставили. Тази страница ви позволява да изтеглите или да изтриете тази информация.</p>
        <p>
            <strong>ИЗТРИВАНЕТО НА ТАЗИ ИНФОРМАЦИЯ ЩЕ ПРЕМАХНЕ ПРОФИЛА ВИ ЗАВИНАГИ, И НЯМА ДА МОЖЕ ДА БЪДЕ ЗАВЪРНАТ.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Изтегли</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-danger">Изтрий</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}